#container {
    background-color: white;
    width: 500px;
    height: 500px;
    border-color: black;
    border-width: 3px;
    box-sizing: border-box;
  }
  
  .square {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 0;
    left: 50px;
    top: 50px;
    position: absolute;
  }
  
  .circle {
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 200px;
    top: 200px;
    position: absolute;
  }